In [1]:
from BuscaPrimeiraOcorrencia import letraA
from BuscaPrimeiraOcorrencia import letraB
from BuscaPrimeiraOcorrencia import letraAOtimizado
from BuscaPrimeiraOcorrencia import letraBOtimizado
from BuscaPrimeiraOcorrencia import tabela
from pandas import DataFrame # type: ignore

In [2]:
#######
letraA(1, 5, 11)
letraA(1, 10, 21)
letraA(1, 20, 42)

#######
letraB(1, 5, 11)
letraB(1, 10, 21)
letraB(1, 20, 42)

#####

In [3]:
letraAOtimizado(1, 5, 11)
letraAOtimizado(1, 10, 21)
letraAOtimizado(1, 20, 42)

#######
letraBOtimizado(1, 5, 11)
letraBOtimizado(1, 10, 21)
letraBOtimizado(1, 20, 42)

######

In [4]:
# Exibindo os resultados como tabelas separadas
print("Resultado dos testes A:")
for chave, valor in tabela["a)"].items():
    display(DataFrame([valor], index=[chave]))

# Exibindo os resultados como tabelas separadas
print("Resultado dos testes B:")
for chave, valor in tabela["b)"].items():
    display(DataFrame([valor], index=[chave]))

Resultado dos testes A:

              2 elemento  6 elemento  Contador
11 elementos           1           5        19

              2 elemento  11 elemento  Contador
21 elementos           1           10        29

              2 elemento  21 elemento  Contador
42 elementos           1           20        50

                          2 elemento  6 elemento  Contador
11 elementos (Otimizado)           1           5         4

                          2 elemento  11 elemento  Contador
21 elementos (Otimizado)           1           10         4

                          2 elemento  21 elemento  Contador
42 elementos (Otimizado)           1           20         4

Resultado dos testes B:

              2 elemento  6 elemento  tempo de execução
11 elementos           1           5               1910

              2 elemento  11 elemento  tempo de execução
21 elementos           1           10               2912

              2 elemento  21 elemento  tempo de execução
42 elementos           1           20               5019

                          2 elemento  6 elemento  tempo de execução
11 elementos (Otimizado)           1           5                402

                          2 elemento  11 elemento  tempo de execução
21 elementos (Otimizado)           1           10                402

                          2 elemento  21 elemento  tempo de execução
42 elementos (Otimizado)           1           20                401